.main-card{
    float: left;
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
    height: 380px ;
    margin-left: 60px;
   
    margin-top: 30px ;
    
   
}
.name-space{
    height: 30px;
    margin-bottom: 15px;
    
    
}

.main-img{
    width:100px;
    margin-left: 70px;
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .main-card{
        margin-left: 5px;
        margin-top: 20px;
    }
  }

